{% extends "base.html" %} 
{% block title %} Account View {% endblock %}

{%block content%}
<br>
<div class="container-fluid" style="height: 400px">
    <h2>Ledger for Account: {{acc_query[acc_ID | int - 1].acc_name}}</h2>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Debit</th>
            <th scope="col">Credit</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody style="overflow-y: scroll;">
          
          {% for ledger in led_query %}
          <tr id="rowz">
            <td>{{ledger.entry_date}}</td>
            <td>{{ledger.entry_desc}}</td>
            <td><input type="number" name="debit" size="10" step = ".01" value="{{ledger.entry_deb}}"></td>
            <td><input type="number" name="credit" size="10" step = ".01" value="{{ledger.entry_cred}}"></td>
            <td>${{ledger.entry_bal}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

      <div class="text-center">
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#ledgermodal">Add Entry</button>
      </div>

      <div class="modal fade" id="ledgermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Entry</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
            <form method="POST">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">Debit Amount</label>
                    <input
                      type="number"
                      step=".01"
                      class="form-control"
                      id="entry_deb"
                      name="entry_deb"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="lastName">Credit Amount</label>
                    <input
                      type="number"
                      step=".01"
                      class="form-control"
                      id="entry_cred"
                      name="entry_cred"
                    />
                  </div>
                </div>
                </div>
              <div class="row">
                <div class="col">
                  <label for="acc_desc">Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="entry_desc"
                    name="entry_desc"
                  ></textarea>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Add Entry</button>
            </div>
          </form>
          </div>
        </div>
      </div>






</div>



{% endblock %}