{% extends "base.html" %} 
{% block title %} Account View {% endblock %}

{%block content%}
<br>
<div class="container-fluid" style="height: 400px">
    <h2>Ledger for Account: {{acc_query[acc_ID | int - 1].acc_name}}</h2>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Debit</th>
            <th scope="col">Credit</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody style="overflow-y: scroll;">
          {% for ledger in led_query %}
          <tr id="rowz">
            <td>{{ledger.entry_date}}</td>
            <td>{{ledger.entry_desc}}</td>
            <td><input type="number" name="debit" size="10" step = ".01" value="{{ledger.entry_deb}}"></td>
            <td><input type="number" name="credit" size="10" step = ".01" value="{{ledger.entry_cred}}"></td>
            <td>${{ledger.entry_bal}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="text-center">
        <button class="btn btn-success" type="button">Add Entry</button>
      </div>
</div>



{% endblock %}