{% extends "base.html" %} {% block title %} Admin Portal {% endblock %} {%block
content%}
<h1 class="text-center">Admin Dashboard</h1>

</div>
<div class="container px-3 py-1 pb-4">

    <form class="form-inline" method="POST">
      <h2 class="text-dark pt-2">Users</h2>
        <div class="ml-auto">
            <datalist id="userData">
              {% for user in query %}
              <option name="userIndex" value="{{query[loop.index - 1].id}}">{{user.id}}</option>
              {% endfor %}
            </datalist>
        </div>
    </form>

  <div>
    <table id="table_id" class="table table-striped table-dark">
      <thead style="position: sticky;">
        <tr>
          <th>ID#:</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Username</th>
          <th>Type</th>
          <th>Date Created</th>
          <th>Status</th>
          <th>Link</th>
          <th>Email User</th>
        </tr>
      </thead>

      <tbody style="overflow-y: scroll;">
        {% for user in query %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.userName}}</td>


          {% if user.hasAdmin%}
          <td>Administrator</td>
          {% elif user.hasMan %}
          <td>Manager</td>
          {% else %}
          <td>User</td>
          {% endif %}

          <td>{{user.creationDate}}</td>

          {% if user.status %}
          <td style="color: green">Activated</td>
          {% else %}
          <td style="color: red">Deactivated</td>
          {% endif %}
            <td>
                <form method="POST" >
                    <button type="submit" name = "get_user" class="btn btn-success" value="{{ user.id }}">
                      View User Account
                    </button>
                </form>
            </td>
            <td><a href="/email_user" class="link-primary">Send Email</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<div>

</div>
<h1>Other Features</h1>
    <a class="btn btn-primary btn-lg btn-block" href="/event_log" role="button">Event Log</a>
    <a class="btn btn-primary btn-lg btn-block" href="/email_user" role="button">Email User</a>
</div>

{% endblock %}