{% extends "base.html" %} {% block title %} Admin Portal {% endblock %} {%block
content%}
<h1 class="text-center">Admin Dashboard</h1>
<br />


<div class="container-fluid px-3 py-1 pb-4">
  
    <form class="form-inline" method="POST">
      <h2 class="text-dark pt-2">User Accounts</h2>
        <div class="ml-auto">
          <input type="search" name="searchBar" class="form-control pr-1" placeholder="Search by ID#"
            list = "userData" />
          
            <datalist id="userData"> 
              {% for user in query %}
              <option name="userIndex" value="{{query[loop.index - 1].id}}">{{user.id}}</option>
              {% endfor %}
            </datalist>  
            <button class="btn btn-success" type="submit">Search</button>
        </div>  
    </form>

  <div>
    <table class="table table-striped table-dark">
      <thead style="position: sticky;">
        <tr>
          <th>ID#:</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Username</th>
          <th>Type</th>
          <th>Date Created</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody style="overflow-y: scroll;">
        {% for user in query %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.userName}}</td>
  
          {% if user.hasAdmin%}
          <td>Administrator</td>
          {% elif user.hasMan %}
          <td>Manager</td>
          {% else %}
          <td>User</td>
          {% endif %}
  
          <td>{{user.creationDate}}</td>
  
          {% if user.status %}
          <td style="color: green">Activated</td>
          {% else %}
          <td style="color: red">Deactivated</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

</div>

{% endblock %}