
{% extends "base.html" %} {% block title %} Reports {% endblock %}

{% block content %}


<body>

        <div class="table-wrapper container">
            <h2>Balance Sheet</h2>
            <table class="table table-hover table-dark">
                <thead>
                <th>Assets</th>
                </thead>
                <tbody>

                <tr>
                    <thead>
                        <th>Name</th>
                        <th>Debited</th>
                        <th>Credited</th>
                    </thead>
                </tr>
                {% for x in range(ass_list_len) %}
                <tr>
                    <td>{{assets_list[x].acc_name}}</td>
                    <td>{{assets_list[x].led_bal()}}</td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>

                <thead>
                <th>Expenses</th>
                </thead>

                <tbody>
                <tr>
                    <thead>
                        <th>Account Name</th>
                        <th>Debited</th>
                        <th>Credited</th>
                    </thead>
                </tr>

                {% for x in range(exp_list) %}
                <tr>
                    <td>{{expenses_list[x].acc_name}}</td>
                    <td>{{expenses_list[x].led_bal()}}</td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>

                <thead>
                <th>Equity</th>
                </thead>

                <tr>
                    <thead>
                        <th>Account Name</th>
                        <th>Debited</th>
                        <th>Credited</th>
                    </thead>
                </tr>

                <tbody>
                {% for x in range(eq_list) %}
                <tr>
                    <td>{{equity_list[x].acc_name}}</td>
                    <td>{{equity_list[x].led_bal()}}</td>
                    <td></td>
                </tr>
                {% endfor %}

                <thead>
                <th>Revenue</th>
                </thead>

                <tr>
                    <thead>
                        <th>Account Name</th>
                        <th>Debited</th>
                        <th>Credited</th>
                    </thead>
                </tr>
                {% for x in range(rev_list_len)%}
                <tr>
                    <td>{{rev_list[x].acc_name}}</td>
                    <td></td>
                    <td>{{rev_list[x].led_bal()}}</td>
                </tr>
                {% endfor %}
                </tbody>
                <thead>
                <th>Equity</th>
                </thead>

                <tr>
                    <thead>
                        <th>Account Name</th>
                        <th>Debited</th>
                        <th>Credited</th>
                    </thead>
                </tr>
                {% for x in range(eq_list)%}
                <tr>
                    <td>{{eq_list[x].acc_name}}</td>
                    <td></td>
                    <td>eq_list[x].led_bal()</td>
                </tr>
                {% endfor %}
                </tbody>
                <tr>
                    <td>Total</td>
                    <td>{{total_debits}}</td>
                    <td>{{total_credits}}</td>
                </tr>
            </table>
            <button name="submitbutton" type="submit" class="btn btn-primary btn-block">Convert to PDF</button>
        </div>
</body>

{% endblock %}
