{% extends "base.html" %} 
{% block title %} Edit Account{% endblock %}

{%block content%}

<h3 class="text-center">Edit Account for {{query[searchID | int - 1].firstName}} {{query[searchID | int - 1].lastName}}</h3>

<form method = "POST">

    <div class="container px-2 py-3 col-5 bg-dark text-white">
        
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="{{query[searchID | int - 1].email}}"
            />
          </div>
      
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      name="firstName"
                      value="{{query[searchID | int - 1].firstName}}"
                    />
                </div>
              </div>
            <div class="col">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      name="lastName"
                      value="{{query[searchID | int - 1].lastName}}"
                    />
                  </div>
            </div>
        </div>

        
            <div class="text-center">
                <div class="form-check form-check-inline">
                  <input name = "activeButton" class="form-check-input" type="radio" id="inlineRadioOptions1" onclick="fixActive(); return true;" {% if query[searchID | int - 1].status  == True %} checked {% endif %}/>
                  <label class="form-check-label" for="inlineRadio" style="color: green" >Activated</label>
                </div>
      
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="inlineRadioOptions2" onclick="fixDeactive(); return true;" {% if query[searchID | int - 1].status  == False %} checked {% endif %}/>
                  <label class="form-check-label" for="inlineRadio" style="color: red" >Deactivated</label>
                </div>
              </div>
        
              <div class="text-center">
                <div class="form-check form-check-inline">
                  <input name = "usrButton" class="form-check-input" type="radio" id="inlineRadioOptionsUserType1"  onclick="fixUsr(); return true;" {% if (query[searchID | int - 1].hasMan == False ) and (query[searchID | int - 1].hasAdmin == False) %} checked {% endif %}/>
                  <label class="form-check-label" for="inlineRadio" >User</label>
                </div>
      
                <div class="form-check form-check-inline">
                  <input name = "manButton" class="form-check-input" type="radio" id="inlineRadioOptionsUserType2" onclick="fixMan(); return true;" {% if query[searchID | int - 1].hasMan  == True %} checked {% endif %} />
                  <label class="form-check-label" for="inlineRadio" >Manager</label>
                </div>
    
                <div class="form-check form-check-inline">
                  <input name = "adminButton" class="form-check-input" type="radio" id="inlineRadioOptionsUserType3" onclick="fixAdmin(); return true;" {% if query[searchID | int - 1].hasAdmin  == True %} checked {% endif %} />
                  <label class="form-check-label" for="inlineRadio" >Admininstrator</label>
                </div>
              </div>
          
          
          <br>


          <div class="text-center">
            <button class="btn btn-success text-center" type="submit">Save</button>
            </div>
    </div>




</form> 
<script type="text/javascript">
  
  function fixActive()
  {
    var statusRadioOne = document.getElementById("inlineRadioOptions1");
    var statusRadioTwo = document.getElementById("inlineRadioOptions2");

  

    if(statusRadioOne.checked == true)
    {
      statusRadioTwo.checked = false;
    }
  }



  function fixDeactive()
  {
    var statusRadioOne = document.getElementById("inlineRadioOptions1");
    var statusRadioTwo = document.getElementById("inlineRadioOptions2");

    if (statusRadioTwo.checked == true)
    {
      statusRadioOne.checked = false;
    }
  }

  function fixUsr()
  {
    var statusUsr = document.getElementById("inlineRadioOptionsUserType1");
    var statusMan = document.getElementById("inlineRadioOptionsUserType2");
    var statusAdmin = document.getElementById("inlineRadioOptionsUserType3");

    if (statusUsr.checked == true)
    {
      statusMan.checked = false;
      statusAdmin.checked = false;
    }

  }

  function fixMan()
  {
    var statusUsr = document.getElementById("inlineRadioOptionsUserType1");
    var statusMan = document.getElementById("inlineRadioOptionsUserType2");
    var statusAdmin = document.getElementById("inlineRadioOptionsUserType3");


    if (statusMan.checked == true)
    {
      statusUsr.checked = false;
      statusAdmin.checked = false;
    }
  }

  function fixAdmin()
  {
    var statusUsr = document.getElementById("inlineRadioOptionsUserType1");
    var statusMan = document.getElementById("inlineRadioOptionsUserType2");
    var statusAdmin = document.getElementById("inlineRadioOptionsUserType3");


    if (statusAdmin.checked == true)
    {
      statusMan.checked = false;
      statusUsr.checked = false;
    }
  }



</script>



{% endblock %}