<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email A User</title>
</head>
<body>
    <div>
	<h2 class="text-dark pt-2">Email A User</h2>
	<form class="form-inline" id="emailform" method="POST">
  <input type="text" name="email" size = "40" placeholder="email">
<br>
  <input type="text" name="subject" size = "40" placeholder="subject">
<br>
<textarea rows="5" cols="50" name="comment" form="emailform"></textarea>
<br>
<input type = "submit" >
		</form>
</div>

</body>
</html>