{% extends "base.html" %}
{% block title %} Help {% endblock %}

{%block content%}

<h1>
    Help Page
</h1>
<h2>
    How do I make an Account?
</h2>
<p>
    Return to the login page and under the email address entry you will see a link to "Register for an Account"
</p>
<p>
    You will be required to enter a valid Email Address, First Name, Last Name, and Password. You will then need to be activated by a administrator.
</p>
<h2>
    Help! I cant log in to my account!
</h2>
<p>
    You are likely a new user yet to be activated, or your profile has been deactivated. Request entry from your manager or administrator.
</p>

<h2>
    How do I make an account?
</h2>
<p>
    You will need to request account creation through your manager to get an Administrator to create one for you. You will then be able to access your account using the view function above the Chart of accounts in your home page.
</p>

<h1>
    For Accountants
</h1>
<h2>
    How do I make a new account for my Journal Entries?
</h2>
<p>
    Request that an Administrator make an account for you, Accountants can only create entries after and must have them be approved by an Manager or Administrator.
</p>

<h2>
    Where do I print my Balance Sheet / Trial Balance / Income Statement?
</h2>

<p>
    You can find all the associated enumerate accounting tools in the top right drop down menu associated with logging out. Once in the tab, below the statement you will find a link to print your content, a window print will show up and you can select to send to printer or change to PDF for download.
</p>

<h1>
    For Managers
</h1>

<h2>
    How do I approve or reject user entries?
</h2>
<p>
    At the top right of any web page you will find the approvals tab, any approvals that are pending will be represented by a red exclamation point over it.
</p>
<p>
    On the approvals page you will find any pending entries awaiting approval or rejection. If you would like to provide a rejection reason, beside each pending rejection you can provide one. Rejected entries will be listed below in additional tables.
</p>





{% endblock %}