{% extends "base.html" %}
{% block title %} Help {% endblock %}

{%block content%}

<h1>
    Help Page
</h1>
<h2>
    How do I make an Account?
</h2>
<p>
    Return to the login page and under the email address entry you will see a link to "Register for an Account"
</p>
<p>
    You will be required to enter a valid Email Address, First Name, Last Name, and Password. You will then need to be activated by a administrator.
</p>
<h1>
    Help! I cant log in to my account!
</h1>
<p>
    You are likely a new user yet to be activated, or your profile has been deactivated. Request entry from your manager or administrator.
</p>

<h2>
    How do I make an account?
</h2>
<p>
    You will need to request account creation through your manager to get an Administrator to create one for you. You will then be able to access your account using the view function above the Chart of accounts in your home page.
</p>
<h2>

</h2>

{% endblock %}