<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %} {% block title %} Reports {% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Reports</title>

</head>
<body>
        <div class="table-wrapper">
            <h2>Income Statement</h2>
            <table class="table table-hover table-dark">
                <th>Revenues</th>
                <tr>
                    <th>Description</th>
                    <th>Revenue</th>
                </tr>
                <tr>
                    <td>x</td>
                    <td>y</td>
                </tr>
                <th>Expenses</th>
                <tr>
                    <th>Description</th>
                    <th>Expense</th>
                </tr>
                <tr>
                    <td>x</td>
                    <td>y</td>
                </tr>
            </table>
            <button name="submitbutton" type="submit" class="btn btn-primary btn-block">Convert to PDF</button>
        </div>
</body>

{% endblock %}
</html>