
{% extends "base.html" %} {% block title %} Reports {% endblock %}

{% block content %}


<body>
        <div class="table-wrapper container">
            <h2>Income Statement</h2>
            <table class="table table-hover table-dark">

                <form method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Input User ID</label>
                        <input type="text" class="form-control" name='ian' id="ian" placeholder="Current Account is: {{ s, usrsel.userName }}">
                    </div>
                 </form>

                <thead>
                <th>Revenues</th>
                </thead>

                <tbody>
                    <tr>
                        <thead>
                            <th>Name</th>
                            <th>Revenue</th>
                        </thead>
                    </tr>
                    <tbody>
                        {% for x in range(rev_size)%}
                        <tr>
                            <td>{{revenues_list[x].acc_name}}</td>
                            <td>{{revenues_list[x].led_bal() * -1}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <thead>
                        <th>Expenses</th>
                    </thead>

                    <tbody>
                    <tr>
                        <thead>
                            <th>Name</th>
                            <th>Expense</th>
                        </thead>
                    </tr>

                    {% for x in range(exp_size) %}
                    <tr>
                        <td>{{expense_list[x].acc_name}}</td>
                        <td>{{expense_list[x].led_bal()}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>

                    <tr>
                        <td>Total Income</td>
                        <td>{{total_income * -1}}</td>
                    </tr>
                </tbody>
            </table>
            <button onclick="window.print();" title="Make a Print or download the above page as a pdf" class="btn btn-success btn-block" >Print/Download PDF of Income Statement</button>
        </div>
</body>
{% endblock %}
