{% extends "base.html" %} {% block title %} Password Recovery {% endblock %}
{%block content%}
<form method="POST">
  <h3 align="center">Account Recovery</h3>
    <div class="container-lg pt-3 pb-3 col-5 bg-dark text-white">
        <div class="form-group">
            <div class="col-auto px-3 pt-2 align-items-center">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="example@domain.com"
              />
              <small id="reset_info" class="text-form text-white">
                  Please enter the email you used to register the account
              </small>
            </div>
        </div>
    </div>

    <br>
    <div class="col text-center">
        <button type="Submit" class="btn btn-primary">Send Recovery Email</button>
      </div>

</form>

{% endblock %}
