<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %} {% block title %} Prepare Entries {% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Prepare Entries</title>
</head>
<body>
    <h1>Prepare Entries</h1>
    <form class="input-group">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Credited</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Debited</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Attachment (Optional)</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
    </form>
</body>
{% endblock %}
</html>
