{% extends "base.html" %}
{% block title %} Trial Balance {% endblock %}

{% block content %}

<br>
<body>
    <div class="table-wrapper container">
        <h2>Trial Balance</h2>

        <form method="post">
            <div class="form-group">
                <label for="formGroupExampleInput">Input User ID</label>
                <input type="text" class="form-control" name='ian' id="ian" placeholder="Current Account is: {{ s, usrsel.userName }}">
        </div>
        </form>
        <table class="table table-hover table-dark">
            <thead>
                <th>Account Name</th>
                <th>Debit</th>
                <th>Credit</th>
            </thead>

            <tbody>
            {% for x in range(j) %}
            <tr>
                <td>{{accounts_list[x].acc_name}}</td>
                {% if temp_arr[x] > 0 %}
                <td>{{temp_arr[x]}}</td>
                {% else %}
                <td> </td>
                {% endif %}

                {% if temp_arr[x] < 0 %}
                <td>{{temp_arr[x] * -1}}</td>
                {% else %}
                <td> </td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>$ {{total_deb}}</td>
                <td>$ ({{total_cred * -1}})</td>
            </tr>
            </tbody>
        </table>
        <form method="post"><button name="convert" type="submit" class="btn btn-primary btn-block">Convert to PDF</button></form>
    </div>
</body>

{% endblock %}
